{% extends 'base.html' %}
{% block content %}
<h2>Services</h2>
<a href="{% url 'service_add' %}" class="btn btn-primary mb-3">Add Service</a>
<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Facility</th>
    <th>Category</th>
    <th>Skill Type</th>
  </tr>
  {% for service in object_list %}
  <tr>
    <td><a href="{% url 'service_detail' service.pk %}">{{ service.name }}</a></td>
    <td>{{ service.facility.name }}</td>
    <td>{{ service.category }}</td>
    <td>{{ service.skill_type }}</td>
    
  </tr>
  {% empty %}
  <tr><td colspan="3">No services found.</td></tr>
  {% endfor %}
</table>
{% endblock %}
