{% extends 'base.html' %}

{% block content %}
  <h1>{{ program.name }}</h1>
  <ul>
    <li><strong>Description:</strong> {{ program.description }}</li>
    <li><strong>National Alignment:</strong> {{ program.national_alignment }}</li>
    <li><strong>Focus Areas:</strong> {{ program.focus_areas }}</li>
    <li><strong>Phases:</strong> {{ program.phases }}</li>
  </ul>

  <a class="btn btn-secondary" href="{% url 'program_edit' program.id %}">Edit</a> |
  <a class="btn btn-danger"  href="{% url 'program_delete' program.id %}">Delete</a> |
  <a class="btn btn-outline-primary"  href="{% url 'program_list' %}">Back to Program List</a>
{% endblock %}
