{% extends 'base.html' %}

{% block content %}
  <h1>{{ program.name }}</h1>
  <ul>
    <li><strong>Description:</strong> {{ program.description }}</li>
    <li><strong>National Alignment:</strong> {{ program.national_alignment }}</li>
    <li><strong>Focus Areas:</strong> {{ program.focus_areas }}</li>
    <li><strong>Phases:</strong> {{ program.phases }}</li>
  </ul>
  <p>
  <a href="{% url 'program_edit' program.id %}"class="btn btn-warning">Edit</a> 
  <a href="{% url 'program_delete' program.id %}"class="btn btn-danger">Delete</a> 
  <a href="{% url 'program_list' %}"class="btn btn-secondary">Back </a>
  </p>
{% endblock %}
